<%- include('../includes/head') %>
</head>

<body>
    <%- include('../includes/nav') %>
    <main>
        <div class="container">
            <div class="jumbotron jumbotron">
                <div class="container">
                    <h1 class="display-5">Nova notícia</h1>
                    <p class="lead">Preencha os dados abaixo para prosseguir com a criação.</p>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <%- include('../includes/errorBox') %>
                    <form method="POST" action="/admin/noticias/new" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="title">Título: </label>
                            <input class="form-control required
                            <% if(form){ %>
                                <%= form.hasError.includes('description') ? 'is-invalid' : '' %>
                            <% } %>""
                            value=" <%= form ? form.values.title : ''%>" class="form-control"
                                type="text" name="title" id="title">
                        </div>

                        <div class="form-group mb-4">
                            <label for="desc">Descrição: </label>
                            <input class="form-control required
                            <% if(form){ %>
                                <%= form.hasError.includes('description') ? 'is-invalid' : '' %>
                            <% } %>""
                            value=" <%= form ? form.values.desc : ''%>" class="form-control"
                                type="text" name="desc" id="desc">
                        </div>

                        <div class="form-group">
                            <label for="image">Imagem</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input
                                <% if(form){ %>
                                    <%= form.hasError.includes('image') ? 'is-invalid' : '' %>
                                <% } %>"" 
                                name="image" id="image">
                                <label class="custom-file-label" for="image">Escolha a imagem</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="body">Notícia</label>
                            <input type="hidden" name="body" value="<%= form ? form.values.body : ''%>">
                            <div class="form-group">
                              <div id="editor-rich" data-deltastore="input[name='body']">
                              </div>
                            </div>
                          </div>

                        <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary mt-4" type="submit">Criar notícia</button>
                    </form>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end') %>

</html>