   <%- include('includes/head')%>
   </head>

   <body class="scrollbar-inner wow fadeIn">
       <%- include('includes/main-header') %>

       <main>
           <section id="home">
               <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                   <ol class="carousel-indicators d-flex">
                       <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                       <li data-target="#homeCarousel" data-slide-to="1"></li>
                       <li data-target="#homeCarousel" data-slide-to="2"></li>
                   </ol>
                   <div class="carousel-inner">
                       <div class="carousel-item active text-center img-webp--background"
                           data-webp="url('/images/banners/esquadrias-banner.webp')"
                           data-nonwebp="url('/images/banners/esquadrias-banner.jpg')">
                           <div class="container">
                               <div class="row">
                                   <div class="col-12 col-md-10 col-lg-9 text-left carousel__text">
                                       <h4 class="text-bold carousel__text__subtitle animated fadeInDown"
                                           data-animated="true">Sua solução em
                                       </h4>
                                       <h3 class="text-bold carousel__text__title animated fadeInUp"
                                           data-animated="true">
                                           Esquadrias de Alumínio
                                       </h3>
                                       <p class="carousel__text__description animated fadeInLeft" data-animated="true">
                                           Durável, prática e
                                           elegante. As
                                           <strong>Esquadrias de Alumínio</strong> são perfeitas para quem busca um bom
                                           custo-beneficio.</p>
                                       <div class="carousel__text__buttons">
                                           <a role="button" class="btn-white--square animated fadeInUp mr-2"
                                               data-animated="true">Fazer orçamento</a>
                                           <a role="button" class="btn-main--square animated fadeInUp"
                                               data-animated="true">Ver mais</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="carousel-item text-center img-webp--background"
                           data-webp="url('/images/banners/vidros_laminados.webp')"
                           data-nonwebp="url('/images/banners/vidros_laminados.jpg')">
                           <div class="container">
                               <div class="row">
                                   <div class="col-12 col-md-10 col-lg-9 text-left carousel__text">
                                       <h4 class="text-bold carousel__text__subtitle animated fadeInDown"
                                           data-animated="true">Sua solução em
                                       </h4>
                                       <h3 class="text-bold carousel__text__title animated fadeInUp"
                                           data-animated="true">
                                           Vidros Laminados
                                       </h3>
                                       <p class="carousel__text__description animated fadeInLeft" data-animated="true">
                                           Durável, prática e
                                           elegante. As
                                           <strong>Esquadrias de Alumínio</strong> são perfeitas para quem gosta de um
                                           bom
                                           custo-beneficio.</p>
                                       <div class="carousel__text__buttons">
                                           <a role="button" class="btn-white--square animated fadeInUp mr-2"
                                               data-animated="true">Fazer orçamento</a>
                                           <a role="button" class="btn-main--square animated fadeInUp"
                                               data-animated="true">Ver mais</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="carousel-item text-center img-webp--background"
                           data-webp="url('/images/banners/vidros_temperados.webp')"
                           data-nonwebp="url('/images/banners/vidros_temperados.jpg')">
                           <div class="container">
                               <div class="row">
                                   <div class="col-12 col-md-10 col-lg-9 text-left carousel__text">
                                       <h4 class="text-bold carousel__text__subtitle animated fadeInDown"
                                           data-animated="true">Sua solução em
                                       </h4>
                                       <h3 class="text-bold carousel__text__title animated fadeInUp"
                                           data-animated="true">
                                           Vidros Temperados
                                       </h3>
                                       <p class="carousel__text__description animated fadeInLeft" data-animated="true">
                                           Durável, prática e
                                           elegante. As
                                           <strong>Esquadrias de Alumínio</strong> são perfeitas para quem gosta de um
                                           bom
                                           custo-beneficio.</p>
                                       <div class="carousel__text__buttons">
                                           <a role="button" class="btn-white--square animated fadeInUp mr-2"
                                               data-animated="true">Fazer orçamento</a>
                                           <a role="button" class="btn-main--square animated fadeInUp"
                                               data-animated="true">Ver mais</a>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <a class="carousel-control-prev d-flex" href="#homeCarousel" role="button" data-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="sr-only">Anterior</span>
                   </a>
                   <a class="carousel-control-next d-flex" href="#homeCarousel" role="button" data-slide="next">
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="sr-only">Próximo</span>
                   </a>
               </div>
           </section>
           <section id="sobre">
               <div class="container">
                   <h3 class="inner-title mb-5 pb-4 wow fadeIn text-center">Por que somos a <span
                           class="color-main">mais
                           querida</span> de Bagé e região?
                       <div class="bottom-lines mb-1 mt-3"></div>
                   </h3>
                   <div class="whychoose__list">
                       <div class="row">
                           <div class="col-lg-4">
                               <div class="whychoose__list__item">
                                   <a href="">
                                       <div class="whychoose__list__item__icon wow fadeIn"><i class="fa fa-trophy"></i>
                                       </div>
                                   </a>
                                   <h4 class="whychoose__list__item__title wow fadeInUp">A mais reconhecida</h4>
                                   <div class="whychoose__list__item__desc wow fadeInUp">A Vidraçaria mais premiada e
                                       reconhecida da região pela <strong>confiança, seriedade e inovação</strong>.
                                   </div>
                               </div>
                           </div>
                           <div class="col-lg-4">
                               <div class="whychoose__list__item">
                                   <a href="">
                                       <div class="whychoose__list__item__icon wow fadeIn"><i class="fa fa-shield"></i>
                                       </div>
                                   </a>
                                   <h4 class="whychoose__list__item__title wow fadeInUp">Garantia estendida</h4>
                                   <p class="whychoose__list__item__desc wow fadeInUp">Teve problemas com o
                                       produto? Está com mal funcionamento? <strong>Ative a garantia!</strong></p>
                               </div>
                           </div>
                           <div class="col-lg-4">
                               <div class="whychoose__list__item wow">
                                   <a href="">
                                       <div class="whychoose__list__item__icon wow fadeIn"><i
                                               class="fa fa-certificate"></i></div>
                                   </a>
                                   <h4 class="whychoose__list__item__title wow fadeInUp">Materiais Premium</h4>
                                   <p class="whychoose__list__item__desc wow fadeInUp">Usamos apenas produtos de
                                       primeira
                                       linha, todos com alta <strong>qualidade e garantia</strong>.</p>
                               </div>
                           </div>
                       </div>
                       <div class="row pt-5 mt-2">
                           <div class="col-md-6 text-left">
                               <h4 class="inner-title text-left m-0">A <span class="color-main">Empresa</span></h4>
                               <p class="inner-desc text-left">
                                   Vidraçaria São Pedro, a mais lembrada da fronteira pela qualidade e dedicação. A mais
                                   de
                                   30
                                   anos
                                   no mercado,contamos com uma equipe experiente preparada para dar soluções práticas às
                                   necessidades dos nossos clientes.
                               </p>
                           </div>
                           <div class="col-md-6">
                               <h4 class="inner-title text-left m-0">Nossa <span class="color-main">visão</span></h4>
                               <p class="inner-desc text-left">
                                   A empresa busca manter-se como referência em qualidade e inovação de produtos e
                                   serviços,
                                   para satisfação de todos os envolvidos nos negócios. Como diferencial de mercado a
                                   empresa
                                   busca soluções estéticas e profissionais.
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
           <section id="contact-band" class="">
               <div class="container">
                   <div class="contact-band__content">
                       <h3 class="inner-title wow fadeInLeft">Gostaria de um orçamento personalizado?</h3>
                       <a role="button" href="#contact-us" class="btn-white--square wow fadeInRight">Entre em contato <i
                               class="fa fa-angle-double-right"></i></a>
                   </div>
               </div>
           </section>
           <section id="depoimentos" class="img-webp">
               <div class="container">
                   <div class="row">
                       <div class="owl-carousel testi-list owl-theme">
                           <% deps.forEach( dep => { %>
                           <div class="item">
                               <div class="testi-list__item">
                                   <div class="testi-list__item__text">
                                       <i class="quote fa fa-quote-left"></i>
                                       <p class="text-left"><%= dep.depoimento %></p>
                                   </div>
                                   <div class="testi-list__item__author">
                                       <div class="mr-2">
                                           <div class="testi-list__item__author__name">
                                               <p><%= dep.autor %></p>
                                           </div>
                                           <div class="testi-list__item__author__company">
                                               <p><%= dep.empresa %></p>
                                           </div>
                                       </div>
                                       <div class="testi-list__item__author__img">
                                           <img class="lazy" data-src="<%= dep.imageUrl.url %>" alt="<%= prop.autor %> <%= prop.empresa %>">
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <% }); %>
                       </div>
                   </div>
               </div>
           </section>
           <section id="portfolio">
               <div class="container">
                   <h3 class="inner-title">Galeria de <span class="color-main">Projetos</span></h3>
                   <div class="bottom-lines mb-3"></div>
                   <div class="ourworks__filters">
                       <button class="ourworks__filters__button">Destaques</button>
                       <button class="ourworks__filters__button">Fachadas</button>
                       <button class="ourworks__filters__button">Janelas</button>
                       <button class="ourworks__filters__button">Escadas</button>
                       <button class="ourworks__filters__button">Esquadrias</button>
                       <button class="ourworks__filters__button">Telhados</button>
                       <button class="ourworks__filters__button">Espelhos</button>
                   </div>
               </div>
               <div class="container-fluid">
                   <div class="ourworks__list">
                       <div class="row">
                           <% works.forEach( work => { %>
                           <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                               <div class="ourworks__list__item">
                                   <a href="<%= work.imageUrl.url %>" data-title="Esquadria" data-lightbox="ourworks">
                                       <img src="</images/loading.gif>" data-src="<%= work.imageUrl.url %>" alt=""
                                           class="lazy ourworks__list__item__img">
                                       <div class="ourworks__list__item__overlay">
                                           <div class="icon circle-icon--outline-white"> <i class="fa fa-expand"></i>
                                           </div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <% }); %>
                       </div>
                   </div>
               </div>
           </section>
           <section id="catalogo">
               <div class="container">

                   <div class="row d-flex justify-content-center mb-5 pb-3">
                       <h3 class="inner-title text-center pb-1"><span class="color-main">Catálogo</span> de produtos
                       </h3>
                       <div class="bottom-lines mb-2"></div>
                   </div>

                   <div class="row">
                       <div class="col-lg-3 mb-3">
                           <div class='flex-column nav-pills ' id='catalogFilterContainer' role='tablist'
                               aria-orientation='vertical'>
                               <a href='/catalogo' class='nav-link active'>Destaques</a>
                               <a href='/catalogo?categoria=boxes' class='nav-link'>Boxes</a>
                               <a href='/catalogo?categoria=espelhosebisotes' class='nav-link'>Espelhos
                                   e Bisotês</a>
                               <a href='/catalogo?categoria=esquadrias' class='nav-link'>Esquadrias de Alumínio</a>
                               <a href='/catalogo?categoria=ferragens' class='nav-link'>Ferragens
                                   para Vidro</a>
                               <a href='/catalogo?categoria=guardacorpocorrimao' class='nav-link'>Guarda
                                   Corpo/Corrimão</a>
                               <a href='/catalogo?categoria=kitversatiktruck' class='nav-link'>Kit
                                   Versatik Truck</a>
                               <a href='/catalogo?categoria=vidrotemperado' class='nav-link'>Vidro
                                   Temperado</a>
                               <a href='/catalogo?categoria=telhadodevidro' class='nav-link'>Telhados
                                   de Vidro</a>
                               <a href='/catalogo?categoria=vidrocomum' class='nav-link'>Vidro
                                   Comum</a>
                               <a href='/catalogo?categoria=vidrolaminado' class='nav-link'>Vidro
                                   Laminado</a>
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="row">
                               <% prods.forEach( prod => { %>
                               <div class="col-12 col-md-6">
                                   <article class="produto wow fadeInUp">
                                       <div class="produto__img">
                                           <a href="<%= prod.imageUrl.url %>" data-title="<%= prod.title %>"
                                               data-lightbox="<%= prod.categoria %>">
                                               <img src="/images/loading.gif" data-src="<%= prod.imageUrl.url %>"
                                                   class="lazy" alt="<%= prod.title %>">
                                           </a>
                                       </div>
                                       <div class="produto__text">
                                           <h3 class="produto__text__title"><%= prod.title %></h3>
                                           <p class="produto__text__desc m-0"><%= prod.description %> </p>
                                   </article>
                               </div>
                               <% }); %>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
           <section id="contato" class="img-webp">
               <div class="container">
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="contact-us__text">
                               <h4 class="contact-us__text__title">Entre em contato!</h4>
                               <h5 class="contact-us__text__subtitle">Querendo tirar dúvidas ou fazer um orçamento? Use
                                   o
                                   formulário entre em
                                   contato com a gente!</h5>

                               <h4 class="contact-us__text__title mt-4">Ou pelos meios:</h4>

                               <ul class="contact-us__text__list">
                                   <li class="contact-us__text__list__item"><i class="fa fa-phone mr-2"></i><a
                                           href="">(53)3242-7579</a> / <a href="">(53)3242-1916</a></li>
                                   <li class="contact-us__text__list__item"><i class="fa fa-map-marker mr-2"></i>Rua São
                                       João, n.25, Bairro Getúlio Vargas - Bagé/RS</li>
                                   <li class="contact-us__text__list__item"><i class="fa fa-facebook mr-2"></i><a
                                           href="https://www.facebook.com/saopedrovidracaria/">fb.com/saopedrovidracaria</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-lg-8">
                           <form action="">
                               <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu nome" type="text" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">

                                       <div class="form-group">
                                           <input placeholder="Seu e-mail" type="text" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu telefone" type="text" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu Endereço" type="text" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">

                                   </div>
                                   <div class="col-md-12">
                                       <div class="form-group">
                                           <textarea rows="4"
                                               placeholder="Digite sua mensagem ou dados para o orçamento..."
                                               type="text" class="form-control"></textarea>
                                       </div>
                                   </div>
                               </div>
                               <button type="submit" class="btn-white--square--outline float-right">Enviar
                                   mensagem!</button>
                           </form>
                       </div>
                   </div>
               </div>
           </section>
       </main>
       <%- include('includes/footer') %>
   </body>

   </html>