<%- include('../includes/head') %>
</head>

<body>
    <%- include('../includes/nav') %>
    <main>
        <div class="container">
            <div class="jumbotron jumbotron">
                <div class="container">
                    <h1 class="display-5">Editar Depoimento</h1>
                    <p class="lead">Altere os dados abaixo para prosseguir com a edição.</p>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <%- include('../includes/errorBox') %>
                    <form method="POST" action="/admin/depoimentos/edit" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="autor">Autor: </label>
                            <input class="form-control
                            <% if(form){ %>
                                <%= form.hasError.includes('autor') ? 'is-invalid' : '' %>
                            <% } %>" value="<%= dep.autor %>" maxLength="40" type="text" name="autor" id="autor">
                        </div>

                        <div class="form-group mb-4">
                            <label for="nome">Empresa: </label>
                            <input class="form-control
                        <% if(form){ %>
                            <%= form.hasError.includes('empresa') ? 'is-invalid' : '' %>
                        <% } %>" value="<%= dep.empresa %>" maxLength="40" type="text" name="empresa" id="empresa">
                        </div>


                        <div class="form-group mb-4">
                            <label for="depoimento">Depoimento: </label>
                            <textarea class="form-control 
                            <% if(form){ %>
                                <%= form.hasError.includes('depoimento') ? 'is-invalid' : '' %>
                            <% } %>" type="text" name="depoimento" id="depoimento"
                                maxLength="200"><%= dep.depoimento %></textarea>
                        </div>

                        <div class="form-group">
                            <label for="image">Imagem</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="image" id="image">
                                <label class="custom-file-label" for="image">Escolha a imagem</label>
                            </div>
                        </div>

                        <input type="hidden" name="id" value="<%= dep.id %>">
                        <input class="form-control" type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary mt-4" type="submit"> Editar Depoimento </button>
                    </form>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end') %>

</html>